

.nav-bar {
  background-color: #292929; 
  color: #ffd700; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #1a1a1a; 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white; 
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 60%; 
}

.link, .link1 {
  color:white; 
  text-decoration: none;
  margin-right: 15px;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease; 
}

.link:hover, .link1:hover {
  border-bottom: 2px solid #ffd700; 
}

.search-form {
  display: flex;
  margin-right: 15px;
}

.search-input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #555; 
  border-radius: 3px; 
}

button {
  padding: 5px 10px;
  background-color: #ffd700; 
  color: #292929; 
  border: 2px solid white; 
  border-radius: 3px; 
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; 
}

button:hover {
  background-color: #cca300; 
  border-color: #cca300; 
}

.profile-link {
  color:white; 
  text-decoration: none;
  margin-right: 15px;
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.3s ease;
}

.profile-link:hover {
  border-bottom: 2px solid #ffd700; 
}






